* {
    font-family: 'Press Start 2P', cursive;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 350px 320px 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .left-column {
    display: flex;
    flex-direction: column;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-board {
    border: solid 2px;
  }
  
  .play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }

  .next-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .kerboard {
    position: absolute;
    bottom: 0px;
  }

  ol{
    line-height: 200%;
  }

  ul {
    list-style: none;
    padding-left: 0%;
    line-height: 150%;
  }

  #pause-btn {
    display: none;
  }